a {
	color:#cebb99;
	text-decoration: none;
}
a:hover {
	color:red;
}

body{
	max-width: 960px;
	font-family: arial, sans-serif;
	text-align: center;
	
	
}

header{
	background-image: url('../images/beans.jpg');
	background-repeat:no-repeat;
	height:280px;
	

}
header img{
	padding-bottom: 40px;
}
nav {
	background-color: #230b03;
	padding:10px;
}

nav ul{
	list-style: none;
	margin: 0 auto;
	padding: 2px 0;
	width: 300px;
	display:inline;
}
nav ul li {
	display:inline;
	word-spacing: 20px;
}

article {
	float:left;
	width:340px;
	height:420px;
	padding-left:60px;
	padding-right:60px;
	padding-top:30px;
	padding-bottom: 20px;
}

footer {
	clear:left;
	width:360px;
	height:82px;
	padding-left: 300px;
	padding-right:300px;
	background-color: #230b03;
	color:#cebb99;
}

footer p {
	padding-top: 20px;
}

#contact{
background-color: none;
}

